<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema e Filosofia</title>

    <style>
        body{
            background-image: url("/img/Perfect-Days.jpg");
        }
        .header{
            padding-top: 150px;
            
            text-align: center;
        }
        .title{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>foto aqui</h1>
    </div>
    <div class="title">
        <h1>SEJA BEM VINDO!</h1>
    </div>

    
</body>
</html>